h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.eye {
  border: none;
  outline: none;
  z-index: 999999;
  height: 40px;
  width: 40px;
  border: 10px solid #003557;
  border-radius: 50%;
  background-color: #96d9ff;
  transition: all .2s cubic-bezier(0, 1.26, .8, 1.28);
}

.eye:hover {
  background-color: #96d9ff;
  cursor: pointer;
  border-color: #003557;
  transform: scale(1.2, 1.2);
}
